# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
publish/

# Node environment
node_modules/

# Angular build
dist/
.angular/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.dll
*.exe
*.pdb

# Environment files
appsettings.Development.json
.env

# OS files
.DS_Store
Thumbs.db
